@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&display=swap');
body{
    font-family: 'Arima', cursive;
}
h1{
    font-size: 55px;
    line-height: 25px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    margin: 15px;
    padding: 2%;
}
.half-width img{
    width: 70%;
    align-items: center;
}
.button1{
    text-decoration: none;
    background-image: linear-gradient(rgb(248, 100, 100),rgb(218, 139, 125));
    padding: 10px 40px;
    color: white;
    font-weight: 900;
    border-radius: 5px;
}