@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&display=swap');
body{
    font-family: 'Arima', cursive;
}
h1{
    font-size: 55px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    margin: 15px;
}